.news-wrap {
  margin: 0 10px;
  li {
    display: flex;
    padding: 10px 0;
    img {
      margin-right: 10px;
      width: 60px;
      height: 60px;
    }
    div {
      h2 {
        font-weight: normal;
      }
      span {
        font-size: 14px;
      }
    }
  }
}
