header {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #000;
    border-bottom: 1px solid orange;
    display: flex;
    justify-content: center;
    a {
        margin-right: 20px;
    }
}